video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.header-container {
    /* background: url(../res/logo.jpg) center center/cover no-repeat;*/
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
}

.header-container > h1 {
    color: #fff;
    font-size: 50px;
    margin-top: 50px;
    margin-left: 20px;
}

.header-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, Helvetica, sans-serif;
}

.header-btns {
    margin-top: 32px;
}

.header-btns .btn {
    margin: 6px;
}

@media screen and (max-width: 960px) {
    .header-container > h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 760px) {
    .header-container > h1 {
        font-size: 30px;
    }

    .header-container > p {
        font-size: 25px;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }
}